*{
	font-family: 'Montserrat', sans-serif;
}
.prf{
	border-radius: 15px;
}
.endtxt{
	font-family: 'Montserrat', sans-serif;
   color: #BDBDBD;
   font-size: 14px;
}
.btm{
	margin-top:-450px;

}
.img-fluid{
	border-radius: 10px;
}
span{
	color: #BDBDBD;

}
	


