*{
	font-family: 'Montserrat', sans-serif;
}
.prf{
	border-radius: 15px;
}
.endtxt{
	font-family: 'Montserrat', sans-serif;
   color: #BDBDBD;
   font-size: 14px;
}
.btm{
	margin-top:-450px;

}

.img-fluid{
	border-radius: 10px;
}
span{
	color: #BDBDBD;

}
@media  (max-width: 600px)  {
	
.btm{
	margin-top:-170px;

}
	}
	@media  (max-width: 700px)  {
	
.btm{
	margin-top:-160px;

}
	}
	@media  (max-width: 800px)  {
	
.btm{
	margin-top:-190px;

}
	}
@media  (max-width: 900px)  {
	
.btm{
	margin-top:-170px;

}
	}

